<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <!-- links to jquery,fontawesome and bootstrap cdn-->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!--specific charset-->
    <meta charset="utf-8">

    <title>home page</title>
<!--css styling-->
<link rel="stylesheet" type="text/css" href="/static/try.css"/>

    </head>
    <body>

    <!--links and head of page-->
<nav class="navbar navbar-default">
<div class="container-fluid">
<div class="navbar-header">
<a class="navbar-brand" id="home" href="/">home</a>
    </div>
    <ul class="nav navbar-nav">
<li><a id="links" href="/calculator">simple calculator</a></li>
<li><a id="links" href="/snake-game">snake game</a></li>
</ul>
<form id="search" class="navbar-form navbar-left">
<div class="form-group">
<input type="text" name="search" class="form-control" placeholder="Google search">
    </div>
    <button type="button" class="btn btn-default"><span  class="glyphicon glyphicon-search"></span></button>
</form>

<form id="join" class="navbar-form navbar-right">

<form action="/logout?_method=DELETE" method="POST">
<button type="submit" class="btn btn-default">logout <%=name%></button>
</form>
    </form>
</nav>
</div>



<footer>

<!--contact info-->
<div class="footer">
<a class="navbar-link"href="https://github.com/mohammedkhalid222" target="_blank"><i class="fab fa-github"></i>Github</a>
<a class="navbar-link"href="https://saroku222@gmail.com" target="_blank"><i class="fas fa-at"></i>email</a>
<a class="navbar-link"href="tel:+974-3386-2293"><i class="fas fa-mobile-alt"></i>phone</a>
<h1>contact info</h1>

</div>
</footer>
</body>
</html>
